<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/header', { title: 'User Management' }) %>
    <h1>Users</h1>
    <a href="/users/add">Add New User</a>
    <table>
        <thead>
            <tr>
                <th>Role</th>
                <th>Team User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.rolename %></td>
                    <td><%= user.username %></td>
                    <td><%= user.firstname %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td>
                        <form method="post" action="/users/delete/<%= user.userid %>" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <a href="/users/edit/<%= user.userid %>" class="edit-link">Edit</a>
                            <button type="submit" class="button-del">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../partials/footer') %>
</body>
</html>
